.blog-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-alternate);
  border-radius: var(--border-radius);
  height: 200px;
  padding: 0.5rem;
}

a {
  height: max-content;
}
