.blog-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-alternate);
  border-radius: var(--border-radius);
  /* color: var(--clr-dark); */
  /* box-shadow: 0 0 6px 1px var(--clr-secondary); */
  height: 200px;
  padding: 0.5rem;
}
