.new-blog-dialog {
  margin: auto;
  padding: var(--spacing-400);
  border-radius: var(--border-radius);
  background-color: var(--clr-dark);
}

.new-blog-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.create-blog-button {
  margin-top: var(--spacing-400);
}
