/* .blog-container { */
/*   display: grid; */
/*   grid-template-columns: 1fr 1fr; */
/*   grid-gap: var(--spacing-400); */
/*   margin-block: var(--spacing-300); */
/* } */

.blog-description {
  padding-top: 1rem;
}

code {
  border-radius: var(--border-radius);
  max-width: fit-content;
}
