.about-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--spacing-400);
  justify-content: space-evenly;
}

.about-section {
  display: flex;
  gap: var(--spacing-400);
  flex-direction: column;
  align-items: center;
}

.about-me {
  text-align: center;
  max-width: 61rem;
}
