:root {
  --photo-width: 240px;
}

.about-grid {
  display: grid;
  height: 100%;
}

.about-center {
  margin: auto 0;
}

.about-container {
  display: grid;
  gap: var(--spacing-300);
}

.about-me {
  margin-inline: var(--spacing-400);
  text-align: center;
}

.profile-picture {
  justify-self: center;
}

.profile-img {
  border-radius: var(--spacing-200);
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  width: var(--photo-width);
}

@media (min-width: 48rem) {
  :root {
    --photo-width: 310px;
  }

  .profile-picture {
    justify-self: center;
  }

  .about-container {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .about-me {
    text-align: left;
    /* max-width: 40rem; */
  }
}
