:root {
  --photo-width: 240px;
}

.about-container {
  display: grid;
}

.about-me {
  max-width: 48rem;
  justify-self: center;
}

.profile-picture {
  padding: var(--spacing-200);
  margin: var(--spacing-200);
  justify-self: center;
}
.profile-img {
  border-radius: var(--spacing-100);
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  width: var(--photo-width);
  /* box-shadow: 0 0 8px 1px var(--clr-alternate); */
}

.about-me-text {
  padding: var(--spacing-200);
  margin: var(--spacing-200);
  text-align: center;
}

@media (min-width: 48rem) {
  :root {
    --photo-width: 310px;
  }

  .about-container {
    grid-template-columns: minmax(var(--photo-width), 1fr) 2fr;
    align-items: center;
    gap: var(--spacing-300);
  }
}
