.footer {
  padding: var(--spacing-300) 0;
}

.footer-copyright-text {
  padding: 0;
}

.footer-content {
  display: flex;
  gap: var(--spacing-400);
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
  }
}

@media (min-width: 48rem) {
  .footer-content {
    svg {
      width: 2.5rem;
      height: 2.5rem;
      min-width: 2.5rem;
    }
  }
}
