.tools-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  width: 100%;
  gap: 0.25rem;
  padding: 0.25rem;
  background-color: var(--clr-alternate);
  border-radius: var(--border-radius);
}

.tool-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: var(--clr-secondary);
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: var(--border-radius);
}

.tool-text {
  width: 70%;
  padding-left: 0.25rem;
}

.tool-logo {
  width: 30%;
  display: flex;
  justify-content: center;
}

@media (min-width: 48rem) {
  svg {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
  }
}

svg {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
}
