:root {
  --photo-width: 240px;
}

.about-grid {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: var(--spacing-300);
}

.about-container {
  display: grid;
  gap: var(--spacing-300);
}

.about-me {
  margin-inline: var(--spacing-400);
  text-align: center;
}

.profile-picture {
  justify-self: center;
}

.profile-img {
  border-radius: var(--spacing-200);
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  width: var(--photo-width);
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-300);
  /* justify-items: center; */
}

.skills-item {
  /* justify-self: center; */
}

.skills-grid li:before {
  content: '•';
  color: var(--clr-primary);
  margin-right: var(--spacing-200);
}

@media (min-width: 48rem) {
  :root {
    --photo-width: 310px;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .profile-picture {
    justify-self: center;
  }

  .about-container {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .about-me {
    text-align: left;
    /* max-width: 40rem; */
  }
}
