:root {
  --photo-width: 240px;
}

.about-grid {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: var(--spacing-300);
}

.about-container {
  display: grid;
  gap: var(--spacing-300);
}

.about-me {
  margin-inline: var(--spacing-400);
}

.profile-picture {
  justify-self: center;
}

.profile-img {
  border-radius: var(--border-radius);
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  width: var(--photo-width);
}

@media (min-width: 48rem) {
  :root {
    --photo-width: 310px;
  }

  .profile-picture {
    justify-self: center;
  }

  .about-container {
    grid-template-columns: var(--photo-width) 1fr;
    align-items: center;
  }
}
