.button {
  cursor: pointer;
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-200);
  color: var(--clr-dark);
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  border-radius: var(--spacing-200);
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  height: 3rem;
  transition: all var(--transition-duration);
  margin-block: var(--spacing-300);
}

.button:hover:enabled,
.button:focus:enabled {
  color: var(--clr-alternate);
  /* background-color: transparent; */
  background-color: var(--clr-grey);
  /* border: 1px solid var(--clr-grey); */
  box-shadow: 0 0 8px 1px var(--clr-primary);
  /* box-shadow: inset 0 0 16px 1px var(--clr-primary),
    0 0 8px 1px var(--clr-primary); */
  text-shadow: 0 0 8px var(--clr-primary);
  outline: none;
}

.button:disabled {
  background-color: var(--clr-grey);
  border: none;
  color: var(--clr-alternate);
  opacity: 0.3;
  cursor: not-allowed;
}

.button-width-full {
  width: 100%;
}

.button-width-normal {
  min-width: 85px;
}
