.button {
  cursor: pointer;
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-200);
  color: var(--clr-dark);
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  border-radius: var(--spacing-200);
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  height: 3rem;
  transition: all var(--transition-duration);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover:enabled,
  .button:focus:enabled {
    color: var(--clr-alternate);
    background-color: var(--clr-grey);
    box-shadow: 0 0 8px 1px var(--clr-primary);
    text-shadow: 0 0 8px var(--clr-primary);
    outline: none;
  }
}

.button:disabled {
  background-color: var(--clr-grey);
  border: none;
  color: var(--clr-alternate);
  opacity: 0.3;
  cursor: not-allowed;
}

.button-width-full {
  width: 100%;
}

.button-width-normal {
  min-width: 85px;
}

.button-width-none {
  width: var(--spacing-400);
  height: var(--spacing-400);
  padding: 0;
  border-radius: var(--spacing-100);
  line-height: 0;
}
