.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-300);
  margin-bottom: var(--spacing-300);
}

.nav-link {
  text-decoration: inherit;
  color: var(--clr-alternate);
}

.nav-link-active {
  text-decoration: underline;
  color: var(--clr-grey);
  text-underline-offset: 0.5rem;
}
